**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
**/docker-compose*
**/Dockerfile*
**/.editorconfig
**/README*.md
**/storage/*
**/wwwroot/*
!**/wwwroot/.gitkeep
*.user
*.swp
*.suo
*.tmp
